<div class="container px-5">
    <div class="row">
        <div class="col-xl-3">
            <div class="card shadow border-0 my-5">
               <div class="text-center p-3">
                <img src="https://firebasestorage.googleapis.com/v0/b/images-107c9.appspot.com/o/csm_00_placeholder_male_0c3ee9b684.jpg?alt=media&token=76722ea7-fb92-42be-b721-a32d962f5bd8" class="card-img-top " style="height: 100px;width:100px; border-radius: 50%;" alt="author">
               </div>
                <div class="card-body">
                  <h5 class="card-title text-center">John Smith</h5>
                  <p class="card-text text-center">courses list.</p>
                </div>
                 <app-courses></app-courses>
               
              </div>
        </div>
    </div>
</div>
