<h1 class="py-2">
  Components Concepts
</h1>
<app-authors></app-authors>

<h1 class="py-2">
    Binging Concepts 
    
</h1>
<ul>
  <li>
   <h1> property </h1>
    <app-propertybinding></app-propertybinding>
  </li>
  <li>
    <h1>tow way binding & Services Class DIP constructor</h1>
  <app-towway-binding></app-towway-binding>
  </li>
  <li>
   <h1> Event Binding </h1>
    <app-event-binding></app-event-binding>
  </li>
  <li>
    <h1>Style Binding & class Binding example</h1>
     <app-style-binding></app-style-binding>
  </li>
  <li>
  <h1> Pipes Section Built in</h1>
    <app-pipconcepts></app-pipconcepts>
  </li>
</ul>