<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
         <div class="d-flex justify-content-end">
          <p class="pe-5">
            java  
          </p>
          <app-rating></app-rating>
         </div>

        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio impedit natus porro consequuntur voluptatibus unde est perferendis tenetur a explicabo. A in vel repellat assumenda cupiditate modi dolores, libero sed.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          <div class="d-flex justify-content-end">
            <p class="pe-5">
              C# .net
            </p>
            <app-rating></app-rating>
           </div>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dignissimos tenetur aspernatur nobis porro. Labore voluptas laborum adipisci. Suscipit vitae et quo nesciunt optio sequi ipsam eum iure aliquid consequuntur.</div>
      </div>
    </div>
    
  </div>